# Copy this file to terraform.tfvars and fill in all values

aws_region   = "us-east-1"
project_name = "resume-screener"

# Your public IP. Find it at: https://checkip.amazonaws.com
# Must be in CIDR notation, e.g. "102.182.15.4/32"
my_ip = "YOUR_PUBLIC_IP/32"

# Database
db_password = "ChangeMe123!"

# AI API Keys
groq_api_key = "gsk_..."
hf_api_token = "hf_..."

# GitHub repo (format: username/repo-name)
github_repo = "elmoudenabdelghafor/resume-screener"
